<div class="container">

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1601925088924-aad72e86b894?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80)">
  Coktails
</div>
<ul class="row col-12">
  <% @cocktails.each do |cocktail| %>
   <div class="card-product col-3">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
  <% end %>
</ul>

<%= link_to 'Create new cocktail', new_cocktail_path(@cocktail) %>
</div>

